name: test
on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        perl:
          - "5.40.0"
          - "5.16.1"
    name: Perl ${{ matrix.perl }}
    steps:
      - run: |
          sudo apt-get -y install redis-server
      - uses: actions/checkout@v1
      - name: Setup perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - run: |
          cpanm --installdeps --notest .
          perl Build.PL
          ./Build
          ./Build test
